<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4" *ngFor="let subject of subjects ; let i = index"
            routerLink="/exam/{{subject.id}}">
            <div class="card text-center">

                <div class="card-body">
                    <h2 class="card-title">{{subject.name}}</h2>
                    <p class="card-text">Welcome to your {{subject.name}} Exam , take your time , have agood luck </p>
                    <div class="subBtn">
                        <button *ngIf="userInfo?.role=='doctor'" class="mx-1 btn btn-danger"
                            (click)="delete(i)">Delete</button>
                        <button *ngIf="userInfo?.role=='doctor'" class="mx-1 btn btn-primary">Show</button>
                        <button *ngIf="userInfo?.role=='students'" class="mx-1 btn btn-success">Start Exam</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>