<div class="examBox" >
    <div class="examhead text-center"><h2> {{mainSubject.name}} exam</h2></div>
    <div class="quizBox" *ngFor="let subject of mainSubject.questions; let i = index ">
        <strong ><span class="text-danger"></span> {{subject.question}}  </strong>
        <div class="row mt-3" >
            <div class="col-md-6 col-sm-12">
                <mat-radio-button  *ngIf="userInfo?.role =='students'"(change)="getCorrectAnswer($event)" name="{{i}}" value="{{subject.answer1}}" color="warn"></mat-radio-button>
                <label>A. {{subject.answer1}}</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button *ngIf="userInfo?.role =='students'"(change)="getCorrectAnswer($event)"name="{{i}}" value="{{subject.answer2}}" color="warn"></mat-radio-button>
                <label>B. {{subject.answer2}} </label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button *ngIf="userInfo?.role =='students'"(change)="getCorrectAnswer($event)"name="{{i}}" value="{{subject.answer3}}" color="warn"></mat-radio-button>
                <label>C. {{subject.answer3}} </label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button *ngIf="userInfo?.role =='students'"(change)="getCorrectAnswer($event)"name="{{i}}" value="{{subject.answer4}}" color="warn"></mat-radio-button>
                <label>D. {{subject.answer4}}</label>
            </div>
        </div>
        <div class="text-start pt-3" *ngIf="userInfo?.role =='doctor'" >
            <button mat-raised-button  class="btn btn-danger" (click)="delete(i)" >delete</button>
        </div>
        <hr>
    </div>
    <div class="text-center" *ngIf="userInfo?.role =='students'">
        <span  *ngIf="show" class="fs-4 text-success">{{total}}/ {{mainSubject.questions.length}}  </span>
        <button *ngIf="!show" class="btn btn-success px-5 fs-5" (click)="getResult()" > result</button>
    </div>

</div>
